
<div class="about-first-section">
    <h1>Relive your Favorite Memories</h1>
	</div>
<div class="about-second-section">
	<h1>
    No more sorting through photos
  </h1>
  <br>
  <p>
    Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.
  </p>
  <br>
  <br>
   <a href="www.corriere.it" class="btn-main">Sign Up</a>
</div>
